<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <title>Editar usuário</title>
    </head>

    <body>
        <h1>Editar usuário</h1>

        <form method="POST">
            <label>Nome:</label>
            <input name="nome" value="{{ usuario.nome }}" required />

            <br /><br />

            <label>Telefone:</label>
            <input name="telefone" value="{{ usuario.telefone }}" />

            <br /><br />

            <label>Cidade:</label>
            <input name="cidade" value="{{ usuario.cidade }}" />

            <br /><br />

            <label>E-mail:</label>
            <input type="email" name="email" value="{{ usuario.email }}" required />

            <br /><br />

            <label>Senha:</label>
            <input type="password" name="senha" value="{{ usuario.senha }}" required />

            <br /><br />

            <label>Tipo:</label>

            <select name="tipo_usuario">
                <option value="usuario">Usuário</option>

                <option value="voluntario">Voluntário</option>
            </select>

            <br /><br />

            <button>Salvar alterações</button>
        </form>

        <br />

        <a href="/">Voltar</a>
    </body>
</html>
