<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <title>Editar usuário</title>
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>

    <body>
        <h1>Editar usuário</h1>

        <form method="POST">
            <label>Nome:</label>
            <input name="nome" value="{{ usuario.nome }}" required />

            <label>Telefone:</label>
            <input name="telefone" value="{{ usuario.telefone }}" />

            <label>Cidade:</label>
            <input name="cidade" value="{{ usuario.cidade }}" />

            <label>E-mail:</label>
            <input type="email" name="email" value="{{ usuario.email }}" required />

            <label>Senha:</label>
            <input type="password" name="senha" value="{{ usuario.senha }}" required />

            <label for="tipo_usuario">Tipo de usuário:</label>

            <select name="tipo_usuario" id="tipo_usuario" required>
                <option value="usuario"
                    {% if usuario.tipo_usuario == "usuario" %}selected{% endif %}>
                    Usuário
                </option>

                <option value="voluntario"
                    {% if usuario.tipo_usuario == "voluntario" %}selected{% endif %}>
                    Voluntário
                </option>
            </select>

            <br /><br />

            <button type="submit">Salvar alterações</button>
        </form>

        <br />

        <a href="/">Voltar</a>
    </body>
</html>