<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <title>Novo usuário</title>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>

<body>
    <h1>Novo usuário</h1>

    <form method="POST">
        <label>Nome:</label>
        <input name="nome" required />

        <br /><br />

        <label>Telefone:</label>
        <input name="telefone" />

        <br /><br />

        <label>Cidade:</label>
        <input name="cidade" />

        <br /><br />

        <label>E-mail:</label>
        <input type="email" name="email" required />

        <br /><br />

        <label>Senha:</label>
        <input type="password" name="senha" required />

        <br /><br />

        <label>Tipo:</label>

        <select name="tipo_usuario" required>
            <option value="">Selecione o tipo</option>
            <option value="usuario">Usuário</option>
            <option value="voluntario">Voluntário</option>
        </select>

        <br /><br />

        <button type="submit">Salvar</button>
    </form>

    <br />

    <a href="/">Voltar</a>
</body>

</html>